<h1>Entre em contato</h1>

<div id="explanation">
  <p class"desc">Alguma dúvida, sugestão? Entre em contato conosco. Nós responderemos sua mensagem o mais rápido possível</p>
</div>

<div id="form-box">
  <%= render 'form' %>
</div>