<div id="main">
  <h1>A empresa</h1>
  
  <div class="item">
    <h2>Nossa história</h2>
    <p>O Escritório Moisés Freire começou com a união de profissionais que se admiram. Já no primeiro mês, o empreendimento bancou os próprios custos e nunca parou de crescer. Seis dos sete sócio-fundadores seguiram em frente e celebram 10 anos em 2012. Hoje, somos 17 profissionais e uma consciência: nossa missão é oferecer paz ao cliente. E isto só é possível porque usamos a mais elevada técnica do Direito, ferramentas modernas einovamos na gestão para atender com agilidade e manter o cliente constantemente atualizado sobre o andamento das soluções jurídicas que colocamos em prática.</p>
  </div>

  <div class="item">
    <h2>Os próximos dez anos</h2>
    <p>Sabemos que acomodação é o maior risco dos empreendimentos bem sucedidos. Por isso, estabelecemos metas ambiciosas para a próxima década. Para estarmos preparados para atingirmos estes objetivos, contratamos consultorias de gestão, marketing, comunicação, colocamos em prática ações internas motivacionais e muitas outras medidas inovadoras. Que seriam inócuas se não contássemos com um ativo primordial e impossível de ser criado do nada: a mais absoluta paixão pela advocacia e pela realização profissional de sentirmos que aumentamos o estoque de paz na vida empresarial e, conseqüentemente, até mesmo na vida pessoal do cliente.</p>
  </div>
  
  <div class="item">
    <h2>Missão</h2>
    <p><%= @mission.description.gsub("\n","<br />").html_safe %></p>
  </div><!-- .item -->
  
  <div class="item">
    <h2>Visão</h2>
    <p><%= @vision.description.gsub("\n","<br />").html_safe %></p>
  </div><!-- .item -->

  <div class="item">
    <h2>Valores</h2>
    
    <% @values.each do |value| %>
      <div class="sub-item">
        <h3><%= value.title %></h3>
        <p><%= value.description.gsub("\n","<br />").html_safe %></p>
      </div><!-- .sub-item -->
    <% end %>
  </div><!-- .item -->
  
</div><!-- #main -->