<div id="treatment">
  <h1>Seja bem-vindo!</h1>
  <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non diam sed mauris sollicitudin scelerisque pellentesque et ipsum. Vivamus eleifend blandit ullamcorper. Fusce at tellus diam. Mauris ut ipsum metus, vel consequat elit. Morbi sit amet quam erat.</p>
  <div id="call-contact">
    <a href="#">Entre em contato</a>
  </div><!-- #call-contact -->
</div><!-- #treatment -->
<div id="news">
  <h2>Notícias</h2>
  <div id="news-box">
    <div class="news">
      <h3><a href="#">Decreto Paulista permite quebra de sigilo bancário</a></h3>
      <p>A exemplo da Receita Federal do Brasil, o fisco paulista também já pode ter acesso a dados das movimentações bancárias de contribuintes sem precisar de ordem judicial</p>
    </div><!-- .news -->
    <div class="news">
      <h3><a href="#">Decreto Paulista permite quebra de sigilo bancário</a></h3>
      <p>A exemplo da Receita Federal do Brasil, o fisco paulista também já pode ter acesso a dados das movimentações bancárias de contribuintes sem precisar de ordem judicial</p>
    </div><!-- .news -->
    <div class="clear"></div>
  </div><!-- #news-box -->
</div><!-- #news -->

<div id="main-photos">
  <h2>Nosso escritório</h2>
  <div id="main-photos-box">
    <div class="photo">
      <img src="/images/photo.png" />
    </div><!-- .photo -->
    <div class="photo">
      <img src="/images/photo.png" />
    </div><!-- .photo -->
    <div class="clear"></div>
  </div><!-- #main-photos-box -->
</div><!-- #main-photos -->