<div id="treatment">
  <h1>Seja bem-vindo!</h1>
  <p class="desc">O site Moisés Freire se encontra em reformulação! Em breve todo o conteúdo estará disponível. Estamos localizados na Rua Bambuí, 242, no bairro Serra, em Belo Horizonte. Telefone de contato: (31) 3287-1412.</p>
  <div id="call-contact">
    <%= link_to 'Entre em contato', new_contact_path %>
  </div><!-- #call-contact -->
</div><!-- #treatment -->
<div id="news">
  <h2>Notícias</h2>
  <div id="news-box">
    <% @news.each do |news| %>
      <div class="news">
        <h3><%= link_to news.title, news_path(news) %></h3>
        <p><%= simple_format(news.content[0..166] + "...") %></p>
      </div><!-- .news -->
    <% end %>
    <div class="clear"></div>
  </div><!-- #news-box -->
</div><!-- #news -->

<div id="main-photos">
  <h2>Nosso escritório</h2>
  <div id="main-photos-box">
    <div class="photo">
      <img src="/images/home_1.jpg" />
    </div><!-- .photo -->
    <div class="photo">
      <img src="/images/home_2.jpg" />
    </div><!-- .photo -->
    <div class="clear"></div>
  </div><!-- #main-photos-box -->
</div><!-- #main-photos -->