<div id="main">
  <h1>Notícias</h1>
  
  <% @news.each do |news| %>
    <div class="item">
      <h2><%= news.title %></h2>
      <p><%= professional.content.gsub("\n","<br />").html_safe %></p>
    </div><!-- .item -->
  <% end %>
</div><!-- #main -->